sphinx
nbsphinx
ipywidgets
numpydoc
scanpydoc
sphinx-book-theme
sphinx-autodoc-typehints
tqdm
numpy
pandas
scipy
seaborn
matplotlib
pynndescent
scanpy
scikit-learn
torch
mpltern
catboost
geosketch
fastglmpca
textalloc